td.content {background-color:#eeeeee;height:500px;width:90%;vertical-align:top;}
td.list {background-color:#FFD700;width:20%;vertical-align:top;}
td.bottle {background-color:#FFA500;text-align:center;}