/* td.content {background-color:#eeeeee;height:500px;width:90%;vertical-align:top;}
td.list {background-color:#FFD700;width:20%;vertical-align:top;}
td.bottle {background-color:#FFA500;text-align:center;} 
<td colspan="2" style="background-color:#FFA500;"> (这部分是之前的头部)
*/

td.content {height:500px;width:90%;vertical-align:top;}
td.list {width:20%;vertical-align:top;}
td.bottle {text-align:center;}